body{
    min-width: 300px;
    width: 500px;
    height: 700px;
    display: grid;
    grid-template-rows: 2fr 1fr 10fr;
    text-align: center;
}
body > p, span{
    font-size: 2rem;
    font-weight: 700;
}

.btn-line{
    display: inline;
}
.btn-line > button{
    font-size: 1.2rem;
    text-align: center;
    border-radius: 10px;
    border: none;
    background-color: rgba(64, 83, 255, 0.8);
    color: aliceblue;
    padding: 5px;
    margin-left: 30px;
    width: 70px;
}

.record_b{
font-weight: 500;
font-family: 'DungGeunMo';
}