* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration-line: none;
    color: #fff;
}

/* title */
.head-bar{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
.title-box {
    background-image: url(./img/img_1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    min-width: 100vw;
    min-height: 400px;
    padding: 30px;
}

.title-box>h1 {
    font-size: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 50px;
    display: inline-block;
}

.title-box>p {
    font-size: 1.5rem;
    font-weight: 900;
    text-align: left;
    line-height: 2rem;
    margin: 20px;
}

.btn-title {
    background-color: chocolate;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 10px;
    /* position: fixed;
    bottom: 10px; */
}

.btn-title:hover {
    background-color: rgb(238, 144, 76);
    opacity: 0.8;
    transition: all 1.5s
}

/* main */
.main-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
   
    padding: 1rem;
    gap: 1rem;
    min-width: 200px;
    height: 350px;
    margin: 30px;
}

.card {
    margin: 10px;
    border: 1px solid lightgray;

    min-width: 300px;
    height: 350px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 24px;
    border-radius: 10px;
    padding: 10px;
    /* flex-direction: column;
    justify-content: space-around;
    gap: 24px; */
    /* justify-content: row space-between; */
}

.card-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
    width: 280px;
    height: 280px;
    border: none;
    /* position:fixed;
    width: 300px;
    height: 300px; */
}

.item-title {
    position: absolute;
    bottom: 0%;
    height: 40px;
    background-color: #1f1d1d;
    opacity: 0.4;
    color: #fff;

    /* text-indent: 10px;
    text-align: left(10px);
 */
}

.card-info {
    margin: 10px;
}

.btn-top {
    background-color: chocolate;
    color: #fff;
    border: none;
    border-radius: 5px;
    line-height: 1rem;
    padding: 10px;
    bottom: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-top:hover {
    background-color: rgb(238, 144, 76);
    opacity: 0.8;
    transition: all 1.5s
}

/* footer */
footer {
    /* 푸터 완료 건들지마 */
    position: fixed;
    bottom: 0px;
    background-color: #363434;
    color: #fff;
    padding: 1rem;
    text-align: center;
    font-size: 0.8rem;
    min-width: 100vw;
}

/* .main-title {

    height: 300px;
    background-image: url(../img/main_title.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: #fff;
}

.main-title>h2 {
font-size: 3rem;
text-align: center;
line-height: 300px;
}

.main-content{
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(200px, 1fr));
    margin: 10px;
}

.card{
    background-color: #fff;
    margin: 10px;
}

.card-img {
    padding-top: 70%;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-title {
    margin: 1rem 0;
}

 */