div {
    border: 1px solid#000;
    width: 400px;
}

/* 
margin 속성 : 외부 여백을 지정
    > 1개 지정 : 4방향 지정
    > 2개 지정 : 첫번째 값은 위아래, 두번째 값은 좌우 지정
    > 3개 지정 : 위> 좌우> 아래 지정
    > 4개 지정 : 위>우>아래>좌 지정
    > auto : 마진을 자동으로 계산
*/
/* 마진 중첩 
    html 요소를 세로로 배치할 경우 margin과 margin(이하m)이 만날 때,
    m값이 큰 쪽으로 겹쳐지는 현상
    (가로로 배치할 경우는 상관없다) */
h1,
p {
    border: 1px solid #000;
    width: 150px;
    margin: 10px auto;
}

h1 {
    margin: 30px auto;
}

p {
    margin: 5px auto;
}

/* 패딩은 중첩현상이 없다 */

.div-2 {
    padding: 50px;
}

/* 
box-shadow : 박스 모델에 그림자 효과를 적용
속성값 : 수평거리, 수직거리, 흐림 정도 번짐정도 색상,(inset-생략가능 참조)
inset은 설정 시 안쪽으로 그림자 발생 */
.div-3,.div-4 {
    width: 50px;
    height: 50px;
    margin: 20px;
}

.div-3{
box-shadow: 10px 10px 30px 1px #000;
}

.div-4{
    box-shadow: 10px 10px 10px 10px #000 inset;
    }
    