.div-img {
    width: 200px;
    height: 200px;
    /* 이미지에 적용하는 방법↓ */
    background-image: url('../img/pooh.webp');
   overflow: scroll;
   color: #fff;
   font-size: 14px;
    /* content가 규격을 벗어날 때 스크롤 생성
    overflow: scroll; */
    /* 배경이미지 크기설정
    - auto : 원본사이즈 (기본값)
    - contain : 요소안에 배경이미지가 다 들어오도록 확대 및 축소 
    - cover : 요소를 모두 덮도록 이미지를 확대 축소
    - px, em, rem :하나의 값을 주어 너비지정 너비에 맞는 높이
    - % : 이미지의 비율에 맞게 조절
    */
    background-size: 100%;
    /* background-attachment : 스크롤이 생길경우 배경이미지의 고정 여부를 설정 */
    /* background-attachment: fixed; 배경고정 */
    /* background-attachment:local; text의 용량만큼 길어진 이미지가 함께 스크롤된다 */


/* 
background-position : 배경 이미지의 초기 위치를 설정
** 속성값
-키워드top, left, right, bottom, centter
-퍼센테이지 : 25% 75%
-Edge offsets : bottom 30px right 50px
*/
background-position : center;
}
.div-repeat{
    /* 이미지 규격안맞을 시 바둑판이던걸 수정하는 방법 */
    width: 200px;
    height: 200px;
    background-image: url('../img/staricon.png');
    background-repeat:repeat-x ;
}