/* 연결 선택자(combination Selector)
    공백, >, +,~ 등 결합자(combinatior)를 이용해 특정 요소를 선택 */

/* 후손결합자
    - 공백문자를 이용해 선택자를 조합
    -상위 요소의 영역하에 있는 특정 선택자의 스타일을 적용*/

header span {
    color: red;
}

/* 띄어쓰기 하는 이유는 상위태그 안에 있는 해당 요소에 특정하여 적용 */

/* 
    자식결합자
    >를 사용해서 선택자를 조합한다
    즉, 부모 요소 영역에서 자식요소로 한정해서 선택 후 스타일 적용
    */

header > span {
    color: blue;
}

/* 
인접 형제 결합자
 + 기호를 이용해 선택자를 조합한다
 첫번째 선택자 요소 바로 뒤에 오는 형제요소에 적용
 *기호는 뭐가 오든 첫번째거에 주겠다 만일 주고자 했던 요소가 바로 뒤에 없다면 적용안되기때문에 *쓰면 바로 뒤에 오는거 쓸 수 있음
*/
header + span {
    color: green;
}

/* 
일반 형제 결합자
~기호를 이용해 선택자를 조합
첫번째 선택자 요소 이후 나오는 모든 형제요소에 적용
*/
header ~ div{    /* header이후에 나오는 해당하는 모든 형제요소에 적용 여기서는 span태그에 적용 */
     color: violet;
}