ul{
list-style-type: none; /* 불릿 미표기 */
text-indent: 10px; /* 들여쓰기 */
text-align: left; /* 왼쪽정열 */
line-height: 2rem; /* 줄간격 */
/* margin: 20px; */
}

.item_title{ /* 강조효과(크기, 색 지정) */
    font-size: 1.5em;
    color: #ab3000;
    letter-spacing: 1px;
}
