
/* 민주가 쓴거 */
.nav_bar {
    background-color: rgb(199, 199, 199); /*기본 배경색*/
    width: 600px; 
    height: 40px;
    margin: auto; /* 화면중앙 위치 */
    box-shadow: 0px 5px 5px 5px #4d4d4d;
    /* 문제 1 : width, height에 값을 주었으나 쉐도우가 보이지 않음 → xp로 써서 문제가 발생*/
    /* 문제 2 : 쉐도우영역이 좌우동일 아래쪽 넓게 위 거의 없이인데 쉐도우 영역이 조정되지 않아 코드전체를 다시 작성 후 조정됨을 확인 */
    /* 문제 3 : nva_bar와 ul의 width 영역이 화면상 차이가 있어 ul에 적용했던 배경색을 nav자체에 적용하고 ul li에 box-sizing을 적용해 테두리 기준으로 크기를 지정하도록 변경함 */ 
}

.nav_bar ul {
    list-style: none; /* 불릿 삭제 */
    padding: 0;
    margin: 0;}

.nav_bar ul li {
    float: left; /* 불릿이 있던 자리까지 땡겨져서 겹쳐보임 */
    width: 100px;
    text-align: center;
    line-height: 20px;
    border : 1px chartreuse solid; /* 테두리 설정 */
    box-sizing: border-box;
    border-top: none;
    border-bottom: none;
}

.nav_bar ul li a {
    display: block;
    text-decoration: none; /* 하이퍼링크선 삭제 */
    color: black; /* 기본 글씨 색상 변경하고 싶다면 다른 색으로 가능 */
    padding: 10px;
}

.nav_bar ul li:nth-child(1){
    border-left: none;
}

.nav_bar ul li:nth-child(6){
    border-right: none;
}

/* 1~5번째 li 요소에 대한 hover 효과 ▷ 다음엔 그냥 li한테 호버 주고 마지막 것만 다른 호버를 적용하는 방법을 생각해내기 */
.nav_bar ul li:nth-child(-n+5):hover a {
    background-color: #4d4d4d;
    color: #000;
}

/* 6번째 li 요소에 대한 hover 효과 */
.nav_bar ul li:nth-child(6):hover a {
    background-color: #b30000;
    color: #fff;
}




/*  선생님과 함께 작성
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 0;
}

ul{
    list-style-type: none;
    margin: 10px;
    width: 737px;
    height: 40px;    → float를 주었기 때문에 heigh이 0으로 적용되기에 높이값을 적용해줘야 함 
    box-shadow: 0px 5px 5px 5px #4d4d4d;
}

li{
    padding: 10px 40px;
    float: left;
    background-color: #bebebe;
}

li:not(:last-child) {
    border-right: 3px solid #48e748;
}

li:hover{
    background-color: #4d4d4d;
}

li:last-child:hover{
    background-color: #ff30000;
    color: #fff
}

*/